<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixy.boothigh.dao.IOrderDao">

	<resultMap id="orderResultMap" type="com.lixy.boothigh.bean.Order">
		<result column="id" property="id" />
		<result column="orderNo" property="orderNo" />
		<result column="name" property="name" />
		<result column="price" property="price" />
		<result column="cDate" property="cDate" />
	</resultMap>

    <insert id="addOrder" parameterType="com.lixy.boothigh.bean.Order">
    	insert into orders (
    	<trim suffixOverrides=",">
			<if test="orderNo != null and orderNo != ''">
		      orderNo,
		    </if>
			<if test="name != null and name !=''">
		      name,
		    </if>
		    <if test="price != null">
		      price,
		    </if>
			<if test="cDate != null">
		      cDate,
		    </if>
		</trim>   
		)VALUES(
		<trim suffixOverrides=",">
			<if test="orderNo != null and orderNo != ''">
		  		#{orderNo},
			</if>
			<if test="name != null">
		  		#{name},
			</if>
			<if test="price != null">
		  		#{price},
			</if>
			<if test="cDate != null">
		  		#{cDate},
			</if>
		</trim>
		)
    </insert>
    
    <select id="findOrders" parameterType="java.util.Map" resultMap="orderResultMap">
    	select * from orders  
    	<where>
    		<if test="orderNo != null and orderNo != ''">
		      #{orderNo},
		    </if>
			<if test="name != null and name !=''">
		      #{name},
		    </if>
		    <if test="price != null">
		      #{price},
		    </if>
			<if test="cDate != null">
		      #{cDate},
		    </if>
    	</where>
    </select>
</mapper>